{% extends 'household/master.html' %}

{% block content %}

    <h1 class="ui header" style="margin-bottom: 1.52em">
        <i class="icon lock"></i>
        Change Password
    </h1>

    <div class="ui segment">
        {% if not user.has_usable_password %}
            <div class="ui red message">
                <p>You have not defined a password yet.</p>
            </div>
        {% endif %}
        <form method="post" class="ui form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="ui green button">Save changes</button>
        </form>
    </div>

{% endblock %}