{% extends 'household/master_argon.html' %}

{% block content %}


	<div class="container mt-5">
		<h1>
			Profile & Settings
		</h1>

		<hr>
		
		<div class="row mt-3">
			<div class="col">
				<div class="card">
					<div class="card-header">
						<h3>Social Media Integrations</h3>
					</div>
					<div class="card-body">
						{% if github_login %}
							<p>Connected as
								<a href="https://github.com/{{ github_login.extra_data.login }}/" target="_blank">{{ github_login.extra_data.login }}</a>
							</p>
						{% if can_disconnect %}
							<form method="post" action="{% url 'social:disconnect' 'github' %}">
								{% csrf_token %}
								<button type="submit" class="btn btn-red">
									<i class="fa fa-github"></i>
									Disconnect from GitHub
								</button>
							</form>
						{% else %}
							<button type="button" disabled class="btn btn-danger">
								<i class="fa fa-github"></i>
								Disconnect from GitHub
							</button>
							<p style="color: red">You must
								<a href="{% url 'accounts:set_password' %}">define a password</a> for your account before disconnecting from Github.</p>
						{% endif %} {% else %}
							<a href="{% url 'social:begin' 'github' %}" class="btn btn-default">
								<i class="fa fa-github"></i>
								Connect to GitHub
							</a>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card">
					<div class="card-header">
						<h3>
							Profile Information
						</h3>
					</div>
					<div class="card-body">
						<p>
							Username: {{ request.user.username }}
						</p>
			
						<p>
							Email :
							<strong>{{ request.user.email }}</strong>
						</p>
					</div>
				</div>
			</div>
			<!-- /.col -->
		</div>
	</div>

{% endblock %}