{% extends "household/master.html" %}

{% load humanize %}

{% block content %}

    <div class="ui container">
        <div>
            
            <h1 class="ui centered header" style="margin-bottom: 1.52em;">
                <i class="file alternate outline icon"></i>
                List of Entries
            </h1>
            
            <a class="ui animated green button" tabindex="0" href="{% url 'journal:add' %}">
                <div class="visible content">Add New Entry</div>
                <div class="hidden content">
                    <i class="plus icon"></i>
                </div>
            </a>

            <table class="ui celled padded green table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Entry Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in entries %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ entry.title }}</td>
                        <td>{{ entry.entry_date|naturaltime }}</td>
                        <td>
                            <a class="ui animated orange button" tabindex="0" href="{% url 'journal:create' entry.id %}">
                                <div class="visible content">Edit Idea</div>
                                <div class="hidden content">
                                    <i class="wrench icon"></i>
                                </div>
                            </a>
                            <a class="ui animated red button" tabindex="0" href="{% url 'journal:delete' pk=entry.id %}">
                                <div class="visible content">Delete Entry</div>
                                <div class="hidden content">
                                    <i class="trash icon"></i>
                                </div>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}