{% extends "household/master_argon.html" %}

{% load humanize %}

{% block content %}

<div class="container">
        <div class="mt-5">

            <h1>
                My Journal Entries
            </h1>

            <hr>

            <p>
                <a href="{% url 'journal:add' %}" class="btn btn-success">
                    Add New Entry
                </a>
            </p>

            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead class="table-dark">
                        <tr>
                            <th>Title</th>
                            <th>Entry Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in entries %}
                        <tr>
                            <td>{{ entry.title }}</td>
                            <td>{{ entry.entry_date|naturaltime }}</td>
                            <td>
                                <div class="row">
                                    <div class="col" style="margin-bottom: 1em;">
                                        <a class="btn btn-success" tabindex="0" href="{% url 'journal:create' entry.id %}">
                                            Edit Idea
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="btn btn-danger" tabindex="0" href="{% url 'journal:delete' pk=entry.id %}">
                                            Delete Entry
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


                <nav>
                    <ul class="pagination">
                        {% for i in entries.paginator.page_range %}
                            {% if entries.number == i %}
                            <li class="page-item active">
                                <a href="?page={{ i }}" class="page-link">
                                    {{ i }}
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a href="?page={{ i }}" class="page-link">
                                    {{ i }}
                                </a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>

            </div>
        </div>
    </div>

{% endblock content %}