{% extends "household/master.html" %}

{% block title %}
Ideabin 
{% endblock title %}

{% block content %}

<div class="ui container">
    <div class="ui segment">
        <h3>Listing All Ideas - using Django's Generic ListView</h3>

        <table class="ui celled padded blue table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Idea Title</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for idea in idea_list %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                        {{ idea.title }}
                    </td>
                    <td>
                        {{ idea.created_at | date }}
                    </td>
                    <td>
                        <a href="#">
                            Edit
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}