{% extends 'household/master_argon.html' %}

{% load static %}

{% block title %}
Showing Idea
{% endblock title %}

{% block content %}

<div class="ui container" style="margin-top: 75px;">

    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2">
            <div class="card">
                {% if idea_detail.image %}
                    <img src="{{ idea_detail.image.url }}" alt="{{ idea_detail.title }}" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title">
                        {{ idea_detail.title }}
                    </h2>
                    {% autoescape off %}
                    {{ idea_detail.body }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 text-center">
        <div class="col-6">
            <a class="btn btn-primary" href="{% url 'ideabin:edit' pk=idea_detail.pk %}">
                Edit Idea
            </a>
        </div>
        <div class="col-6">
            <a class="btn btn-danger" href="{% url 'ideabin:delete' pk=idea_detail.pk %}">
                Delete Idea
            </a>
        </div>
    </div>

</div>

{% endblock content %}