{% extends "household/master.html" %}

{% block title %}
Ideabin 
{% endblock title %}

{% block content %}

<div class="ui container" style="margin-top: 75px;">
    <div>
        
        <h1 class="ui centered header" style="margin-bottom: 1.52em;">
            <i class="icon database"></i>
            Listing All Ideas
        </h1>

        <a class="ui animated green button" tabindex="0" href="{% url 'ideabin:add' %}">
            <div class="visible content">Add New Idea</div>
            <div class="hidden content">
                <i class="plus icon"></i>
            </div>
        </a>

        <table class="ui celled padded blue table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Idea Title</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for idea in ideas %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                        <a href="{{ idea.id }}">
                            {{ idea.title }}
                        </a>
                    </td>
                    <td>
                        {{ idea.created_at | date }}
                    </td>
                    <td>
                        <a class="ui animated blue button" tabindex="0" href="{% url 'ideabin:edit' pk=idea.pk %}">
                            <div class="visible content">Edit</div>
                            <div class="hidden content">
                                <i class="wrench icon"></i>
                            </div>
                        </a>
                        <a class="ui animated red button" tabindex="0" href="{% url 'ideabin:delete' pk=idea.pk %}">
                            <div class="visible content">Delete</div>
                            <div class="hidden content">
                                <i class="trash icon"></i>
                            </div>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}