{% extends "household/master_argon.html" %}

{% block title %}
Ideabin 
{% endblock title %}

{% block content %}

<div class="container mt-5">
    <div>
        <h1 class="ui centered header">
            <i class="ni ni-atom"></i>
            Listing All Ideas
        </h1>

        <p>
            <a class="btn btn-success btn-icon" tabindex="0" href="{% url 'ideabin:add' %}">
                <span class="btn-inner--icon">
                    <i class="fa fa-plus"></i>
                </span>    
                <span class="btn-inner--text">
                    Add New Idea
                </span>
            </a>
        </p>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Idea Title</th>
                        <th>Created At</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for idea in ideas %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            <a href="{{ idea.id }}">
                                {{ idea.title }}
                            </a>
                        </td>
                        <td>
                            {{ idea.created_at | date }}
                        </td>
                        <td>
                            <div class="row text-center">
                                <div class="col mb-1">
                                    <a class="btn btn-primary btn-icon" tabindex="0" href="{% url 'ideabin:edit' pk=idea.pk %}">
                                        <span class="btn-inner--icon">
                                            <i class="fa fa-edit"></i>
                                        </span>
                                        <span class="btn-inner--text">
                                            Edit Idea
                                        </span>
                                    </a>
                                </div>

                                <div class="col">
                                    <a class="btn btn-danger btn-icon" tabindex="0" href="{% url 'ideabin:delete' pk=idea.pk %}">
                                        <span class="btn-inner--icon">
                                            <i class="fa fa-trash"></i>
                                        </span>
                                        <span class="btn-inner--text">
                                            Delete Idea
                                        </span>
                                    </a>
                                </div>
                                <!-- /.col -->
                            </div>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}