{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Wealthy - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="site">

    <header>
        <div class="ui top fixed inverted menu">
            <a href="{% url 'journal:index' %}" class="item">
                Journal
            </a>
            <a href="{% url 'ideabin:index' %}" class="item">
                IdeaBin
            </a>
        
            <div class="right menu">
                {% if request.user.is_authenticated %}
                <div class="ui dropdown item">
                    <i class="icon user"></i>
        
                    <div class="menu">
                        <a href="{% url 'accounts:settings' %}" class="item">Profile Settings</a>
                        <a href="{% url 'accounts:logout' %}" class="item">Logout</a>
                    </div>
                </div>
                {% else %}
                <a href="{% url 'accounts:login' %}" class="item">
                    Login
                </a>
                {% endif %}
            </div>
        </div>
    </header>


    <div class="ui container fluid site-content">    
        {% block content %}
        {% endblock content %}
    </div>


    <footer>
        <!-- <p>This is a Footer</p> -->
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.js"></script>
    <script>
        $(document).ready(function() {
            $('.ui.dropdown').dropdown();
        })
    </script>
    {% block scripts %}{% endblock scripts %}
</body>
</html>